In [2]:
import numpy as np
import pandas as pd

In [3]:
df_train=pd.read_csv('loan-train.csv')
df_test=pd.read_csv('loan-test.csv')

In [4]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
df_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

## Check for null values

In [6]:
df_train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
df_test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

## Start Data Imputation

In [8]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent')

In [9]:
def myImputer(df):
    imputer.fit(df)
    return imputer.transform(df)

## Impute Gender

In [10]:
df_train.iloc[:,1:2]

     Gender
0      Male
1      Male
2      Male
3      Male
4      Male
..      ...
609  Female
610    Male
611    Male
612    Male
613  Female

[614 rows x 1 columns]

In [11]:
df_train.iloc[:,1:2] = myImputer(df_train.iloc[:,1:2].values)

In [12]:
df_test.iloc[:,1:2] = myImputer(df_test.iloc[:,1:2].values)

## Impute Married

In [13]:
df_train.iloc[:,2:3]

    Married
0        No
1       Yes
2       Yes
3       Yes
4        No
..      ...
609      No
610     Yes
611     Yes
612     Yes
613      No

[614 rows x 1 columns]

In [14]:
df_train.iloc[:,2:3]=myImputer(df_train.iloc[:,2:3].values)

In [15]:
df_test.iloc[:,2:3]=myImputer(df_test.iloc[:,2:3].values)

## Impute Dependents

In [16]:
df_train.iloc[:,3:4]

    Dependents
0            0
1            1
2            0
3            0
4            0
..         ...
609          0
610         3+
611          1
612          2
613          0

[614 rows x 1 columns]

In [17]:
df_train.iloc[:,3:4] = myImputer(df_train.iloc[:,3:4].values)

In [18]:
df_test.iloc[:,3:4] = myImputer(df_test.iloc[:,3:4].values)

## Impute Self-Employed

In [19]:
df_train.iloc[:,5:6]

    Self_Employed
0              No
1              No
2             Yes
3              No
4              No
..            ...
609            No
610            No
611            No
612            No
613           Yes

[614 rows x 1 columns]

In [20]:
df_train.iloc[:,5:6] = myImputer(df_train.iloc[:,5:6].values)

In [21]:
df_test.iloc[:,5:6] = myImputer(df_test.iloc[:,5:6].values)

## Impute LoanAmount

In [22]:
df_train.iloc[:,8:9]

     LoanAmount
0           NaN
1         128.0
2          66.0
3         120.0
4         141.0
..          ...
609        71.0
610        40.0
611       253.0
612       187.0
613       133.0

[614 rows x 1 columns]

In [23]:
df_train.iloc[:,8:9] = myImputer(df_train.iloc[:,8:9].values)

In [24]:
df_test.iloc[:,8:9] = myImputer(df_test.iloc[:,8:9].values)

## Impute Loan_Amount_Term

In [25]:
df_train.iloc[:,9:10]

     Loan_Amount_Term
0               360.0
1               360.0
2               360.0
3               360.0
4               360.0
..                ...
609             360.0
610             180.0
611             360.0
612             360.0
613             360.0

[614 rows x 1 columns]

In [26]:
df_train.iloc[:,9:10] = myImputer(df_train.iloc[:,9:10].values)

In [27]:
df_test.iloc[:,9:10] = myImputer(df_test.iloc[:,9:10].values)

## Impute Credit_History

In [28]:
df_train.iloc[:,10:11]

     Credit_History
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0
..              ...
609             1.0
610             1.0
611             1.0
612             1.0
613             0.0

[614 rows x 1 columns]

In [29]:
df_train.iloc[:,10:11] = myImputer(df_train.iloc[:,10:11].values)

In [30]:
df_test.iloc[:,10:11] = myImputer(df_test.iloc[:,10:11].values)

## Check Null values again

In [31]:
df_train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [32]:
df_test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

## Convert categorical values to numerical values

In [33]:
df_train.Loan_Status = df_train.Loan_Status.replace({"Y": 1, "N" : 0})

df_train.Gender = df_train.Gender.replace({"Male": 1, "Female" : 0})
df_test.Gender = df_test.Gender.replace({"Male": 1, "Female" : 0})

df_train.Married = df_train.Married.replace({"Yes": 1, "No" : 0})
df_test.Married = df_test.Married.replace({"Yes": 1, "No" : 0})

df_train.Self_Employed = df_train.Self_Employed.replace({"Yes": 1, "No" : 0})
df_test.Self_Employed = df_test.Self_Employed.replace({"Yes": 1, "No" : 0})

## Property_Area, Dependents and Education have multiple values so use LabelEncoder

In [35]:
from sklearn.preprocessing import LabelEncoder
feature_col = ['Property_Area','Education', 'Dependents']
le = LabelEncoder()
for col in feature_col:
    df_train[col] = le.fit_transform(df_train[col])
    df_test[col] = le.fit_transform(df_test[col])

## Prepare ML Model

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [37]:
logistic_model = LogisticRegression()

## Train the model

In [43]:
train_features = ['Credit_History', 'Education', 'Gender']

x_train = df_train[train_features].values
y_train = df_train['Loan_Status'].values

x_test = df_test[train_features].values

array([[1., 0., 1.],
       [1., 0., 1.],
       [1., 0., 1.],
       ...,
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 0., 0.]])

In [51]:
logistic_model.fit(x_train, y_train)

LogisticRegression()

## Perform prediction

In [68]:
y_pred=logistic_model.predict(x_test)

## Check Accuracy

In [73]:
score = logistic_model.score(x_train, y_train)
print('accuracy score overall :', score)
print('accuracy score percent :', round(score*100,2))

accuracy score overall : 0.8094462540716613
accuracy score percent : 80.94

## Dump the model

In [74]:
import pickle as pkl

In [ ]:
filename = 'logistic_model.pkl'
pkl.dump(logistic_model, open(filename, 'wb'))